#ScriptTextArea .bp3-tabs {
	display: flex;
    flex-direction: column;
	height: max-content;
	margin-bottom: 20px;
}

#ScriptTextArea .bp3-tabs .bp3-tab-panel {
	height: 100%;
	padding: 0 0 20px 0;
}

#ScriptStructureContent {
	height: 100%;
}
