#Author {
	margin: 10px 0;
	font-size: 14px;
}

#AuthorInput textarea {
	font-size: 16px;
	resize: none;
}

#AuthorInput, #AuthorText:hover {
	padding: 4px;
	margin: -5px;
	cursor: text;
	border-radius: 3px;
}

#AuthorButtons {
	text-align: center;
	margin: 10px 0 5px 0;
}
