#ScriptTitle {
	margin: 10px 0;
	font-size: 20px;
    font-weight: bold;
}

#ScriptTitleInput textarea {
	font-size: 20px;
	font-weight: bold;
	resize: none;
}

#ScriptTitleInput, #ScriptTitleText:hover {
	padding: 4px;
	margin: -5px;
	cursor: text;
	border: 1px solid #2B95D6;
	border-radius: 3px;
}

#ScriptTitleButtons {
	text-align: center;
}
