
button:focus, .bp3-tab:focus {
    outline: none;
}

.bp3-button.bp3-minimal:active, .bp3-button.bp3-minimal.bp3-active {
    background:rgba(100, 162, 208, 0.34);
}

._fileTree {
    padding: 0;
}

._file:hover, ._directory:hover {
    background:rgba(100, 162, 208, 0.34);
}