#Chapters .bp3-tree-node {
	margin-left: -20px;
}

#Chapters .bp3-tree-node-label {
	white-space: normal;
}

#Chapters .bp3-tree-node-content {
	height: auto;
}

#ChapterCreationDialog .bp3-button.bp3-minimal:hover {
	background: none;
	color: #48aff0;
}
